/*info-boxes*/

.prices-text {
   font-size: 4rem;
   color: var(--black-90);
   text-align: center;
   font-family: 'Russo One';
   margin-bottom: 4rem;
}


.prices-section {
   padding: 4rem 0;
   position: relative;
   background-color: var(--black-10);
   margin-bottom: 4rem;
}



.image-container {
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
}

.image-container img {
   aspect-ratio: 1/0.7;
   object-fit: cover;
   width: 100%;
}

#an1 {
   aspect-ratio: 5/1;
}

#an2 {
   display: none;
}

.prices-section .col-md-4 {
   padding: 1rem;
}

.info-box,
.info-box-big {
   margin: 2.5rem 2.5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   scale: 1.05;
}



.lower-text {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: var(--black-90);
   padding: 0rem 0rem;
   height: 3.5rem;
   width: 100%;
}

.prices-section .col-md-4 {
   margin-bottom: -2rem;
}


.lower-text p {
   margin: 0.1rem 0;
   color: var(--black-5);
}

.lower-text p {
   font-family: 'Inter';
   font-size: 1rem;
}

.lower-text p {
   font-family: 'Inter';
   font-size: 0.9rem;
}


.triangle {
   height: 1rem;
   cursor: pointer;
   -webkit-filter: contrast();
}

.menu-info {
   display: flex;
   justify-content: space-between;
}

#menu {

   background-color: var(--black-90);
   /* display: none; */
   opacity: 0;
   transition: 0.7s;
   gap: 0rem;
   padding: 0.5rem 1rem;
   display: none;
   flex-direction: column;
   width: 100%;
   margin-top: -3.5rem;
   z-index: 10;
}

#times {
   margin-left: 0rem;
   color: var(--black-10);
}

#prices {
   margin-right: 0rem;
   font-weight: 600;
   font-size: 1.1rem;
   color: var(--black-10);

}

.simple-prices {
   margin-bottom: 5rem;
}

#show-menu,
#close-menu {
   background-color: rgba(0, 0, 0, 0);
   border: none;
}

#info-box-2 {
   position: relative;
}

.antrenor-preturi-text,
.sala-text {
   font-weight: 500;
   font-family: Inter;
   font-size: 2rem;
   /* text-align: center; */
   margin-bottom: 2rem;
}

.antrenor-preturi-text {
   white-space: nowrap;
}

.antrenori-section .col-6 img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.antrenor-img-container {
   width: 100%;
   height: 70vh;
   overflow: hidden;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

.antrenor-img-container img {
   width: 100%;
}

.antrenori-section .antrenor-text {
   text-align: center;
   font-family: 'Russo One';
   font-size: 4rem;
   margin-bottom: 2rem;
}

.antrenor-text {
   padding: 0 0.5rem;
}


.antrenor-1,
.antrenor-2 {
   display: flex;
   align-items: center;
   justify-content: center;
}

.antrenori-section {
   margin-bottom: 5rem;
}

.antrenor {
   display: flex;
   flex-direction: column;
   position: relative;
   overflow: hidden;
}

.antrenor-info {
   background-color: var(--black-90);
   position: absolute;
   bottom: 0;
   font-family: Inter !important;
   width: 100%;
   height: 20%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.name {
   font-size: 2rem;
   font-weight: 700;
   color: var(--primary);
   margin-bottom: 0;
}

.experienta {
   color: var(--primary);
   
}


/* posts */

.media-section {
   background-color: var(--black-90);
   padding: 6rem 0rem;
   padding-bottom: 2rem;
}

#posts p {
   text-align: center;
   font-family: 'Russo One';
   font-size: 4rem;
   color: var(--primary);
}

.swiper {
   width: 55vw;
   aspect-ratio: 1.77/1;
   margin-bottom: 7rem;
}

.swiper-slide img {
   aspect-ratio: 1.77/1;
   width: 100%;
   object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
   color: var(--primary) !important;
   background-color: var(--black);
   padding: 2rem;
   scale: 1;
}

.swiper-button-prev {
   left: 0rem !important;
}

.swiper-button-next {
   right: 0 !important;
}

.swiper img {
   height: 100%;
}

#posts {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.firsst-three {
   margin: 0 !important;
}


.clip {
   cursor: pointer;
   height: 100%;
   width: 100%;
   margin-top: -5px;
   border: 5px var(--black-10) solid;
}

.sm-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1.5rem;
   margin-top: 3rem;
}

.media-section img.sm {
   padding: 0.5rem;
   border: 2px var(--primary) solid;
   border-radius: 100%;
}


@media(max-width:1399px) {
   .image-container img {
      width: 95%;
   }

   .prices-section .col-md-4 {
      padding: 0;
   }

   .info-box {
      margin: 3.5rem 2.5rem;
   }

   .photos {
      width: 90%;
   }

   .photos div {
      padding: 1.5rem;
   }

   .swiper {
      margin-bottom: 4.5rem;
   }

   .media-section {
      padding-top: 4rem;
   }
}

@media(max-width:1199px) {

   .info-boxes .text-container p {
      font-size: 1.25rem;
   }


   .info-box {
      margin: 3rem 2rem;
   }

   .lower-text {
      padding: 0rem;
      height: 3rem;
      border-top: 2px;
   }

   .lower-text p {
      font-size: 0.9rem;
      margin: 1px;
   }

   .lower-text p {
      font-size: 0.8rem;
      margin: 1px;
   }

   .prices-section .prices-text,
   .antrenori-section .antrenor-text {
      font-size: 3.75rem;
   }

   .photos {
      width: 95%;
   }

   .photos div {
      padding: 0.4rem;
   }

   an1 {
      aspect-ratio: 4.5/1;
   }
}

@media(max-width: 991px) {
   .prices-section {
      padding-top: 2rem;
   }

   .antrenor-img-container {
      height: 60vh;
   }

   .sala-text,
   .antrenor-preturi-text {
      margin-bottom: -0rem;
      font-size: 1.9rem;
   }

   .prices-section .prices-text,
   .antrenori-section .antrenor-text {
      font-size: 3.3rem;
   }

   .sala-text {
      margin-left: 1rem;
   }

   #menu {
      padding: 0.5rem 0.25rem;
   }


   .swiper {
      width: 70vw;
   }

   .info-box {
      margin: 15% 12%;
   }

   .lower-text p {
      font-size: 0.9rem;
      margin: 1px;
   }

   .lower-text p {
      font-size: 0.85rem;
      margin: 0px;
   }

   .prices-text {
      margin-bottom: 2rem;
   }


   .single-p {
      height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .photos {
      width: 100%;
   }

   #times {
      font-size: 0.9rem;
   }

   #prices {
      font-size: 1rem;
   }
}

@media(max-width:840px) {

   .swiper-button-next,
   .swiper-button-prev {
      display: none !important;
   }

   .container-custom {
      padding: 0 2%;
   }

   #info-box-4 {
      margin: 2.5rem 0;
   }

   .simple-prices {
      margin: 0 auto;
      padding: 2rem 0;
   }

   .lower-text p {
      font-size: 0.8rem;
   }
}

@media(max-width:767px) {
   .simple-prices {
      padding-top: 5rem;
   }

   .prices-section .prices-text,
   .antrenori-section .antrenor-text {
      font-size: 3.2rem;
      line-height: 3rem;
      margin-bottom: 4rem;
   }

   .prices-section .prices-text {
      margin-bottom: 0;
   }

   .antrenor-preturi-section {
      margin-top: 2rem;
   }

   .sala-text,
   .antrenor-preturi-text {
      font-size: 1.8rem;
      margin-bottom: -0.5rem;
   }

   #menu {
      padding: 0.5rem 0.4rem;
      position: absolute;
      bottom: -6rem;
   }

   .menu-info #times {
      font-size: 1.1rem;
   }

   .menu-info #prices {
      font-size: 1.2rem;
   }

   .prices-section .col-md-4:nth-child(odd) {
      display: flex;
      justify-content: flex-end;
      padding: 0;
   }

   .prices-section .col-md-4:nth-child(even) {
      display: flex;
      justify-content: flex-start;
      padding: 0;
   }

   .lower-text p {
      font-size: 1rem;
      margin: auto;
   }

   .lower-text p {
      font-size: 0.95rem;
      margin: auto;
   }

   .lower-text {
      padding: 0.3rem 0.5rem;
      height: 3.75rem;
   }


   .info-box {
      scale: 0.95;
      margin: 13% 10%;
   }

   .swiper {
      margin-bottom: 4rem;
   }

   .media-section {
      padding-top: 3.5rem;
   }

   .clip {
      border: 5px var(--black-10) solid;
   }

   .photos div {
      padding: 0.3rem;
   }

   .prices-section {
      padding-bottom: 2rem;
   }


   #an1 {
      width: 100vw !important;
      aspect-ratio: 3.4/1;
   }

   .antrenor-img-container {
      height: 55vh;
   }



   .simple-prices {
      padding-left: 0 !important;
      padding-right: 0 !important;
   }

   .info-boxes .col-12 {
      padding: 0 !important;
   }

   #antrenori-row {
      padding: 0rem 5rem;
   }

   #antrenori-row {
      gap: 4rem;
   }
}

@media(max-width:640px) {
   .sm {
      scale: 0.9;
   }

   .sm-container {
      gap: 0.9rem;
   }

   .swiper {
      width: 80vw;
   }

   .lower-text {
      padding: 0.3rem 0;
   }

   .lower-text p {
      font-size: 0.95rem;
      margin: auto;
   }

   .lower-text p {
      font-size: 0.85rem;
      margin: auto;
   }

   .container-custom {
      padding: 0 1%;
   }

   .prices-section .prices-text,
   .antrenori-section .antrenor-text {
      font-size: 3.2rem;
   }

   .prices-section {
      margin-top: 8rem;
   }
}

@media(max-width:575px) {

   .sala-text,
   .antrenor-preturi-text {
      font-size: 1.6rem;
   }

   #menu {
      padding: 0.5rem 0.4rem;
      position: unset;
   }

   .prices-section .col-md-4:nth-child(odd) {
      justify-content: center;
   }

   .prices-section .col-md-4:nth-child(even) {
      justify-content: center;
   }

   .prices-section {
      padding: 2rem 0rem !important;
   }

   .info-box {
      margin: 0vh 0;
   }

   .lower-text {
      padding: 0.4rem 0;
   }

   .lower-text p {
      font-size: 1rem;
      margin: auto;
   }

   .prices-section .col-md-4 {
      padding: 2.5rem !important;
   }

   .prices-section {
      padding-left: 7%;
      padding-right: 7%;
   }

   .prices-section .prices-text,
   .antrenori-section .antrenor-text {
      font-size: 2.8rem;
      margin-bottom: 3rem;
   }

   .clip {
      border: 4px var(--black-10) solid;
      scale: 0.9;
   }

   #posts {
      padding: 0 2.5rem;
   }

   .photos .col-sm-3 {
      padding: 0rem 0rem;
   }

   #posts {
      padding: 1.5rem;
   }

   .simple-prices {
      padding: 0 !important;
   }
}

@media(max-width:510px)
   {
   #antrenori-row {
      padding: 0rem 2rem;
   }

   #antrenori-row {
      gap: 2rem;
   }
}

@media(max-width:476px) {
   #an1 {
      display: none;
   }

   #an2 {
      display: block;
      aspect-ratio: auto;
   }

   .sala-text,
   .antrenor-preturi-text {
      margin-bottom: -4.5rem;
      font-size: 1.4rem;
   }

   .swiper {
      width: 100vw;
   }

   .prices-section .prices-text {
      font-size: 2.45rem;
      margin-bottom: 2rem;
   }

   .antrenori-section .antrenor-text {
      font-size: 2.55rem;
   }

   .clip {
      border: 3px var(--black-10) solid;
   }

   .sm {
      scale: 0.87;
   }

   .sm-container {
      gap: 0.8rem;
      margin-top: 2rem;
   }


   .firsst-three {
      scale: 0.9;
   }

   #col-info-box-3 {
      padding-bottom: 0 !important;
   }
}

@media(max-width:430px) {
   .firsst-three {
      scale: 0.85;
   }

   .photos div {
      padding: 0;
   }

   #posts {
      padding: 0.5rem;
   }

   .antrenori-section .antrenor-text {
      font-size: 2.5rem;
   }

   .lower-text p {
      font-size: 1.1rem;
      margin: auto;
   }
}
